body {
  background-color: #d3d3d3;
  display: flex;
}

figure {
  background-color: white;
  padding: 10px;
  border: black 1px solid;
  border-radius: 7%;
  position: relative;
  top: 50px;
  width: fit-content;
}

#greenDiv figure:hover {
  transform: scale(1.2);
  background-color: lightcoral;
  z-index: 100;
}

figure:first-of-type {
  transform: rotate(333deg);
  z-index: 5;
  left: 30%;
}

figure:nth-of-type(2) {
  transform: rotate(40deg);
  z-index: 4;
  left: 35%;
  top: -19%;
}

figure:nth-of-type(3) {
  transform: rotate(350deg);
  z-index: 3;
  left: 40%;
  top: -35%;
}

figure:nth-of-type(4) {
  transform: rotate(20deg);
  z-index: 2;
  left: 45%;
  top: -50%;
}

figcaption {
  text-align: center;
}

#greenDiv {
  background-color: #93eb94;
  width: 90%;
  margin-right: 50px;
}

img {
  width: 180px;
}

img[src='profile.png'] {
  width: 90px;
}

header {
  background-color: #555555;
  display: flex;
  justify-content: space-evenly;
  color: white;
  position: sticky;
}

aside {
  flex: 1;
  border: 2px solid black;
  border-radius: 2%;
  transform: scale(0.7);
}
