body{
    background-color: #D3D3D3;
}

#greenDiv{
    width: 1000px;
    color: #93EB94;
    
}

div{
    background-color: white;
    width: 250px;
    display: flex;
    justify-content: space-evenly;
}

img{
    width: 200px;
}
img[src="profile.png"]{
    width: 90px;
}

header{
    background-color: #555555;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

aside{
    borde
}