/*TABLA*/
table, th, td{
    border: solid black 1px;
    border-collapse: collapse;
}

input[type="button"]{
    background-color: white; 
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;

}
input[type="button"]:hover{
    box-shadow: 1px 1px 1px gray;

}

/* Empregando únicamente pseudoselectores da coor de fondo verde ás celas que conteñe horas */
td:first-of-type {
    background-color: green;
}

/* Empregando únicamente pseudoselectores da cor de fondo amarelo á cela de recreo */
tr:nth-of-type(3){
    background-color: yellow;
}

/* Cambiar ls estado das ligazóns para que:
 Nunca estén subliñados */
 a:link, a:visited, a:hover, a:active {
    text-decoration: none;
 }
 
 /*Se están visitados amósanse en vermello*/
 a:visited {
    color: red;
 }

 /*Se no están visitados amósanse en verde */
 a:link{
    color: green;
 }

/* Empregando pseudoselectores facer que cando pasemos o rato sobre a columna do venres
aumente o tamaño de letra ao dobre */
tr:first-of-type th:last-of-type:hover, td:last-of-type:hover {
    font-size: 2em;
}

/* Empregando Pseudoelementos fai que a primeira letra dos días teña o dobre de tamaño*/
tr:first-of-type th::first-letter{
    font-size: 2em;
}

/* Engade un borde vermello que esté separado 5 px aos campos obrigatorios */
:required{
    border: red solid 1px;
    padding: 5px;
}

/* Engade un * en vermello detrás das etiquetas */
label::after{
    content: "*";
    color: red;
}