.wrapper {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 30%;
  max-width: 333px;
  margin: auto;
  text-align: center;
  grid-auto-flow: column;
}

.box {
  border: 1px solid black;
  padding: 10px;
}
