/* Estilo para el contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Estilo para el título principal */
.header h1 {
  font-size: 24px;
  margin-top: 20px;
}

/* Estilo para la barra de navegación */
.navbar {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

/* Estilo para las imágenes de la barra de navegación */
.navbar img {
  width: 50px; /* Ajusta el tamaño según tu preferencia */
  height: auto;
}

/* Estilo para el contenedor central */
.central-container {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

/* Estilo para las imágenes en el central container */
.central-container img {
  width: 100px; /* Ajusta el tamaño según tu preferencia */
  height: auto;
}

/* Estilo para los títulos de los elementos en el central container */
.central-container h3 {
  font-size: 18px;
  margin-top: 10px; /* Espacio entre la imagen y el título */
}

/* Estilo para el contenedor de la tabla */
.table-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

/* Estilo para los elementos de la tabla */
.table-item {
  position: relative;
  margin-bottom: 10px;
}

/* Estilo para las imágenes en los elementos de la tabla */
.table-item img {
  width: 100px; /* Ajusta el tamaño según tu preferencia */
  height: auto;
}

/* Estilo para los textos superpuestos en los elementos de la tabla */
.table-item h4 {
  position: absolute;
  top: 50%; /* Coloca el texto en el centro verticalmente */
  left: 50%; /* Coloca el texto en el centro horizontalmente */
  transform: translate(-50%, -50%);
  font-size: 16px;
}
